*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(119, 118, 118);
    margin: 20px;
}

h1,img{
    margin: 1rem 1.5rem;
}

h1{
    background-color: brown;
    border: 2px solid red;
    padding: 10px;
}

img{
    width: 50%;
    height: 50%;
}

p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

div{
    background-color: black;
    margin-left: 10px;
    border: 5px solid gold;
    padding: 0 15px;
}

ul{
    list-style: none;
    margin-bottom: 10px;
}

h2, h3, h4{
    background-color: rosybrown;
    margin-top: 10px;
    margin-bottom: 20px;
}

ol{
    margin-left: 10px;
}

.inicio{
    display: flex;
    background-color: black;
    margin: 15px;
    border: 5px solid blue;
}
